html {
    background: url("./astro.png") no-repeat;
    background-size: cover;
}
body {
    margin: 0;
    color: #fff;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
p {
    margin: 0;
}
label {
    font-size: 10px;
}
a {
     text-decoration: none;
 }
a:hover {
    text-decoration: underline;
}
.txt-center {
    text-align: center;
}
.txt-small {
    font-size: 8px;
}

.txt-white {
    color: #fff;
}
.img-btm {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/*styles for datepicker*/
.mydpicon {
    display: none;
}
.mydp {
    width: auto !important;
    border: none !important;
}
.mydp .btnleftborder {
    border: none !important;
}
.btnpicker, .mydp .selectiongroup, input.selection {
    background: transparent !important;
}
.selectiongroup {
    width: 80px;
}
.selbtngroup, .btnpicker {
    width: 100% !important;
}
input.selection {
    font-size: 10px !important;
}
input.selection, .selbtngroup {
    height: 10px !important;
}
.mydp .selection {
    color: #fff !important;
    padding-left: 0 !important;
}
.mydp .selector {
    margin-left: -95px !important;
}
.mydp .selectorarrowleft:after, .mydp .selectorarrowleft:before {
    left: 120px !important;
}
/* end styles for datepicker*/
@media (max-width: 480px) {
    .mob-hidden {
        display: none;
    }
}
