<main>
  <div class="col-md-6 left-column txt-center">
    <img src="../../assets/logo.png" class="logo">
    <img src="../../assets/photo.png" class="photo mob-hidden">
  </div>
  <div class="col-md-6 right-column">
    <div class="form-container">
      <form-component></form-component>
      <div class="testimonials mob-hidden">
        <p>Testimonials</p>
        <div class="comment" *ngFor="let comment of comments">
          <p class="comment-text txt-small"> {{ comment.text }} </p>
          <p class="name txt-small">{{comment.name}}</p>
          <p class="stars txt-small">&#x2606; &#x2606; &#x2606; &#x2606; &#x2606;</p>
        </div>
      </div>
    </div>
  </div>
</main>